<strong>Hello, {{ provider }} </strong>
<p>Cancelation Test E-mail:</p>

 <p>
<strong>Request from: </strong>{{ user }} <br />
<strong>Date/hour: </strong>{{ date }} <br />
<br />
<small>
    This is a test email.
</small>
</p>
